<body class="text-center">
    
    <form [formGroup]="registerForm" class="form-signin">
        
      <img class="mb-4" src="/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      
      <h1 class="h3 mb-3 font-weight-normal">Üye Ol</h1>
      <label for="text" class="sr-only">Ad</label>
      <input
      formControlName="firstName"
       type="text" 
       id="firstName" 
       class="form-control" 
       placeholder="Ad" required autofocus>

       <label for="text" class="sr-only">Soyad</label>
      <input
      formControlName="lastName"
       type="text" 
       id="lastName" 
       class="form-control" 
       placeholder="Soyad" required autofocus>

       <label for="inputEmail" class="sr-only">Eposta</label>
      <input
      formControlName="email"
       type="email" 
       id="email" 
       class="form-control" 
       placeholder="Eposta" required autofocus>

      <label for="inputPassword" class="sr-only">Parola</label>
      <input
      formControlName="password"
       type="password" 
       id="inputPassword" 
       class="form-control"
        placeholder="Parola" required>
      <button class="btn btn-lg btn-primary btn-block" (click)=" register()">Üye Ol</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
      </form>
    
      
        
      </body>
