<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="colorUpdateForm" >
                <div class="form-group">
                    <label for="colorName">Araba Rengi</label>
                    <input formControlName="colorName" type="text" name="colorName" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="colorId"> Renk Id</label>
                    <input formControlName="colorId" type="number" name="colorId" class="form-control" >
                </div>
                <button 
                (click)=" updateColor()"
                class="btn btn-outline-primary">Güncelle</button>
            </form>
        </div>
    </div>
</div>

